[submodule "learn-temporal"]
	path = learn-temporal
	url = git@github.com:lucaskatayama/learn-temporal.git
	branch = main
[submodule "learn-grpc"]
	path = learn-grpc
	url = git@github.com:lucaskatayama/learn-grpc.git
	branch = main
[submodule "notification-system"]
	path = notification-system
	url = git@github.com:lucaskatayama/notification-system.git
